---
import MainLayout from "../layouts/MainLayout.astro"; // este es para importar la estructura de header y footer
---

<MainLayout>
  <h2>Inicio</h2>
  <p>Bienvenido a la tienda de tecnologia desarrollado por pepluchito_xd</p>
</MainLayout>
