<footer class="footer">
  <p>tienda digital con miras para el futuro_xd</p>
</footer>

<style>
  .footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 1rem;
  }
</style>
