<header class="header">
  <h1>mi primera tienda digital</h1>

  <nav>
    <a href="/">Inicio</a>
    <a href="/home">Home</a>
    <a href="/catalogo">catalogo</a>
    <a href="/contactos">Contactos</a>
  </nav>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 1rem;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  a {
    color: white;
    text-decoration: none;
  }
</style>
